{% extends 'common/layout.twig' %}

{% block content %}
    <div class="barber-info-container">
        <p class="barber-container-title">Информация о клиенте</p>
        <form class="form" action="/client/update" method="post" id="barber-form">
            <input type="text" value="{{ client.id }}" style="display: none" id="form-barber-id" name="id">
            <div class="form-fields-container">
                <div class="form-field">
                    <label class="form-label" for="form-barber-name">Имя: </label>
                    <input class="form-input" type="text" name="name" id="form-barber-name"
                           value="{{ client.name }}" required maxlength="50"/>
                </div>
                <div class="form-field">
                    <label class="form-label" for="form-barber-surname">Фамилия: </label>
                    <input class="form-input" type="text" name="surname" id="form-barber-surname"
                           value="{{ client.surname }}" required maxlength="50"/>
                </div>
                <div class="form-field">
                    <label class="form-label" for="form-barber-phone">Телефон: </label>
                    <input class="form-input" type="tel" name="phone" id="form-barber-phone"
                           value="{{ client.phone }}" maxlength="50" pattern="+7[0-9]{10}"/>
                </div>
            </div>
            <button class="form-input form-button" type="submit">Сохранить</button>
        </form>
    </div>
    <div class="barber-info-container">
        <p class="barber-container-title">Ближайшие записи:</p>
        <div class="barber-dates-container">
            {% for appointment in appointments %}
                <div class="appointment-container">
                    <p class="barber-container-text">
                        {{ appointment.barber_name }}
                    </p>
                    <p class="barber-container-text">
                        {{ appointment.barber_surname }}
                    </p>
                    <p class="barber-container-text">
                        {{ appointment.date }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
